
body .oneline{
text-align: center;}
body{font-size:14px; font-family:"Lucida Grande", Arial, sans-serif; color:#6d6d6d;}
.accToggler{
	margin: 3px auto;
	padding: 3px;
	width: 400px;
	background: #acc95f;
	color: #f4f4f4;
	border: 1px solid #fff;
	cursor: pointer;
}
.accContent{
	margin: 0px auto;
	width: 400px;
}
a, a:visited{
font-family:"Lucida Grande", Arial, sans-serif; color:#6d6d6d;
}
.footer {
float:inherit;
margin: 0px auto;

}
.lists {
text-align: center;
clear:both;
}
#coursework {
color:black;
}
.links {
color:#6899CE;
}